<div class="gallery-tile" (click)="tileClick($event)">
  <h3>{{product.name}}</h3>
  <div *ngIf="product.image_url">
      <img class="beerImage" src="{{product.image_url}}">
  </div>
  <div *ngIf="product.image_url == null">
      <img class="beerImage" src="../../assets/beausCrop.jpg">
  </div> 
</div>

<div class="modal" [hidden]="!openModal" *ngIf="readyToDisplay">
    <div class="modal-content" >
        <div class="modal-header">
            <span class="close" (click)="spanClick()">&times;</span>
            <h2>{{product.name}}</h2>
        </div>
        <div class="modal-body">
            <p *ngIf="product.description">Description: {{product.description}}</p>
            <p *ngIf="product.primary_category || product.secondary_category">Categories: {{product.primary_category}} - {{product.secondary_category}}</p>
            <p *ngIf="product.serving_suggestion">Serving Suggestion: {{product.serving_suggestion}}</p> 
            <agm-map [latitude]="userLat" [longitude]="userLng">
                <agm-marker 
                    *ngFor="let store of beausStores"
                    [latitude]="store.latitude" 
                    [longitude]="store.longitude">
                    <agm-info-window>{{store.name}}</agm-info-window>
                </agm-marker>
            </agm-map>
        </div>
    </div>
</div>



