<div class="col col-sm-6 col-12">
    <div id="homeMenu">
      <i class="fa fa-home fa-lg" aria-hidden="true"></i><a href="https://beaus.ca">&nbsp;www.beaus.ca</a>
    </div>
    <div id="socialMenu">
      <a class="socialIcon" href="https://www.facebook.com/BeausBrewery/"><i class="fa fa-facebook fa-lg" aria-hidden="true" ></i></a>
      <a class="socialIcon" href="https://twitter.com/beausallnatural?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
      <a class="socialIcon" href="https://www.instagram.com/beausallnatural/?hl=en"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="col col-sm-6 col-12">
    <div id="infoMenu">
      <i class="fa fa-phone fa-lg" aria-hidden="true"></i><span> 1 866-585-BEER</span><br>
      <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i><span> 10 Terry Fox Dr. Vanleek Hill, ON K0B1R0 </span><br>
      <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i><span> 7 Days a Week: 10am - 6pm</span>
    </div>	
  </div>